<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="\\uk-duty01\TrainedLog\${date:format=yyyy-MM-dd} nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>


    <target name="file" xsi:type="File" layout="${time} ${message} Proccessed by: ${machinename} ${windows-identity}" fileName="\\UK-DUTY01\Log\info_${date:format=yyyy-MM-dd}.log" keepFileOpen="false" encoding="UTF-8"></target>
    <target name="file_err" xsi:type="File" layout="${time} ${message} Proccessed by: ${machinename} ${windows-identity}" fileName="\\UK-DUTY01\Log\error_${date:format=yyyy-MM-dd}.log" keepFileOpen="false" encoding="UTF-8"></target>
    

    
  </targets>

  <rules>

    <logger name="*" level="Info" writeTo="file"/>
    <logger name="*" level="Error" writeTo="file_err"/>

    
  </rules>
</nlog>